<html>
    <head>
        <title>Olá's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Otoniel</a></h1>
        </div>

        <div>
            <p>publicado: 01.05.2023</p>
            <h2><a href="">Meu Primeiro Post</a></h2>
            <p>Esse foi o meu primeiro post no blog enquanto estava testando o framework Django.</p>
        </div>

        <div>
            <p>publicado: 01.05.2023</p>
            <h2><a href="">Meu Segundo Post</a></h2>
            <p>Apenas confirmando que o framework Django está funcionando.</p>
        </div>
    </body>
</html>